{% extends 'elections/base.html'%}
{% load static %}
{% block content %}

    <div class="container-fluid row">
      <h5 class="card-title">RESULTS</h5>
      <table class="table table-dark table-hover table-bordered">
        <thead>
          <tr>
            <th>Districts</th>
            <th>Kizza Besigye</th>
            <th>Robert Kagulanyi</th>
            <th>Yoweri Museveni</th>
            <th>Nobert Mao</th>
            <th>Male Mabirizi</th>
            <th>Wasswa Birigwa</th>
            <th>Patrick Oboi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kampala</td>
            <td>4234</td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Bushenyi</td>
            <td>2323</td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232%</td>
            <td>0956 </td>
          </tr>
          <tr>
            <td>Rukungiri</td>
            <td>2323</td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Ntungamo</td>
            <td>2323</td>
            <td>6363 </td>
            <td>734734</td>
            <td>64643 </td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Rakai</td>
            <td>2323</td>
            <td>6363</td>
            <td>73473</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Sheema</td>
            <td>2323 </td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Mbarara</td>
            <td>2323</td>
            <td>6363 </td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Lyantonde</td>
            <td>2323</td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Masaka</td>
            <td>2323</td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Mubende</td>
            <td>2323</td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Mityana</td>
            <td>2323</td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>2323</td>
            <td>6363</td>
            <td>734734</td>
            <td>64643</td>
            <td>72323</td>
            <td>6232</td>
            <td>0956</td>
          </tr>
        </tbody>
      </table>
    </div>


{% endblock content %}